@using DAL.Movies
@{
    ViewData["Title"] = "Home Page";
}
@model MovieAndTvShowVM

   <!-- owl-carousel Banner Start -->
   <section class="pt-0 pb-0">
      <div class="container-fluid px-0">
         <div class="row no-gutters">
            <div class="col-12">
               <div class="gen-banner-movies banner-style-2">
                  <div class="owl-carousel owl-loaded owl-drag" data-dots="false" data-nav="true" data-desk_num="1"
                     data-lap_num="1" data-tab_num="1" data-mob_num="1" data-mob_sm="1" data-autoplay="true"
                     data-loop="true" data-margin="0">
                     @foreach (var item in Model.Movies.OrderBy(x => x.ReliseDate).Take(3))
                     {
                         <div class="item" style="background: url('~images/hoverImg/@item.MovieImgName')">
                            <div class="gen-movie-contain-style-2 h-100">
                               <div class="container h-100">
                                  <div class="row flex-row-reverse align-items-center h-100">
                                     <div class="col-xl-6">
                                        <iframe width="100%" height="480px" src="~/videos/trailers/@item.MovieTrailerName"
                                                frameborder="0"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                allowfullscreen>
                                        </iframe>
                                        
                                     </div>
                                     <div class="col-xl-6">
                                        <div class="gen-tag-line"><span>Most Viewed</span></div>
                                        <div class="gen-movie-info">
                                           <h3>@item.MovieName</h3>
                                        </div>
                                        <div class="gen-movie-meta-holder">
                                           <ul class="gen-meta-after-title">
                                              <li class="gen-sen-rating">
                                                 <span>
                                                    @item.Rating</span>
                                              </li>
                                              <li> <img src="~/images/asset-2.png" alt="rating-image">
                                                 <span>
                                                    0 </span>
                                              </li>
                                           </ul>
                                           <p>
                                               @item.Desc
                                           </p>
                                           <div class="gen-meta-info">
                                              <ul class="gen-meta-after-excerpt">
                                                 <li>
                                                 @{
                                                    string actors = "";
                                                 }
                                                    <strong>Cast :</strong>
                                                    @foreach (var actor in item.MovieActors)
                                                    {
                                                        actors += actor.Actor.ActorName + " " + actor.Actor.ActorSurname + ",";  
                                                    }
                                                    @actors
                                                 </li>
                                                 <li>
                                                    <strong>Genre :</strong>
                                                    @foreach (var category in item.MovieCategories)
                                                    {
                                                        <span>
                                                           <a asp-action="Index" asp-controller="Category" asp-route-id="@category.CategoryId">
                                                              @category.Category.CategoryName, </a>
                                                        </span>
                                                    }
                                                    
                                                 </li>
                                                
                                              </ul>
                                           </div>
                                        </div>
                                        <div class="gen-movie-action">
                                           <div class="gen-btn-container">
                                              <a asp-action="MovieDetail" asp-controller="Movie" asp-route-id="@item.Id" class="gen-button .gen-button-dark">
                                                 <i aria-hidden="true" class="fas fa-play"></i> <span class="text">Play
                                                    Now</span>
                                              </a>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                     }
                     
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- owl-carousel Banner End -->

   <!-- owl-carousel Videos Section-1 Start -->
   <section class="gen-section-padding-2">
      <div class="container">
         <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
               <h4 class="gen-heading-title">All Time Hits</h4>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 d-none d-md-inline-block">
               <div class="gen-movie-action">
                  <div class="gen-btn-container text-right">
                     <a asp-action="Index" asp-controller="Movie" class="gen-button gen-button-flat">
                        <span class="text">More Movies</span>
                     </a>
                  </div>
               </div>
            </div>
         </div>
         <div class="row mt-3">
            <div class="col-12">
               <div class="gen-style-2">
                  <div class="owl-carousel owl-loaded owl-drag" data-dots="false" data-nav="true" data-desk_num="4"
                     data-lap_num="3" data-tab_num="2" data-mob_num="1" data-mob_sm="1" data-autoplay="false"
                     data-loop="false" data-margin="30">
                     @foreach (var item in Model.Movies.OrderByDescending(m => m.Views).Take(10))
                     {
                     <div class="item">
                        <div class="movie type-movie status-publish has-post-thumbnail hentry movie_genre-action movie_genre-adventure movie_genre-drama">
                           <div class="gen-carousel-movies-style-2 movie-grid style-2">
                              <div class="gen-movie-contain">
                                 <div class="gen-movie-img">
                                    <img src="~/images/hoverImg/@item.MovieImgName" alt="owl-carousel-video-image">
                                    <div class="gen-movie-add">
                                       <ul class="menu bottomRight">
                                           @if (User.Identity.IsAuthenticated == true)
                                           {
                                              <li>
                                                <a asp-route-id="@item.Id" asp-action="AddMovie" asp-controller="MoviePlaylist" class="facebook"><i class="fa fa-plus"></i></a>
                                              </li>          
                                           }
                                          
                                       </ul>
                                    </div>
                                    <div class="gen-movie-action">
                                                    <a asp-action="MovieDetail" asp-controller="Movie" asp-route-id="@item.Id" class="gen-button">
                                          <i class="fa fa-play"></i>
                                       </a>
                                    </div>
                                 </div>
                                 <div class="gen-info-contain">
                                    <div class="gen-movie-info">
                                       <h3>
                                            <a asp-action="MovieDetail" asp-controller="Movie" asp-route-id="@item.Id">@item.MovieName</a>
                                       </h3>
                                    </div>
                                    <div class="gen-movie-meta-holder">
                                       <ul>
                                          <li>@(item.Duration)</li>
                                          <li>
                                              @foreach (var category in item.MovieCategories)
                                              {
                                                <a asp-action="Index" asp-controller="Category" asp-route-id="@category.Category.Id"><span>@category.Category.CategoryName</span></a>     
                                              }
                                             
                                          </li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- #post-## -->
                     </div>
                  }
                     
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- owl-carousel Videos Section-1 End -->

   <!-- owl-carousel Videos Section-2 Start -->
   <section class="pt-0 gen-section-padding-2">
      <div class="container">
         <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
               <h4 class="gen-heading-title">Top Regional Shows</h4>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 d-none d-md-inline-block">
               <div class="gen-movie-action">
                  <div class="gen-btn-container text-right">
                     <a asp-action="Index" asp-controller="TvShow" class="gen-button gen-button-flat">
                        <span class="text">More TvShow</span>
                     </a>
                  </div>
               </div>
            </div>
         </div>
         <div class="row mt-3">
            <div class="col-12">
               <div class="gen-style-2">
                  <div class="owl-carousel owl-loaded owl-drag" data-dots="false" data-nav="true" data-desk_num="4"
                     data-lap_num="3" data-tab_num="2" data-mob_num="1" data-mob_sm="1" data-autoplay="false"
                     data-loop="false" data-margin="30">
                     @foreach (var item in Model.TvShows)
                     {
                         <div class="item">
                        <div
                           class="movie type-movie status-publish has-post-thumbnail hentry movie_genre-action movie_genre-adventure movie_genre-drama">
                           <div class="gen-carousel-movies-style-2 movie-grid style-2">
                              <div class="gen-movie-contain">
                                 <div class="gen-movie-img">
                                    <img src="~/images/hoverImg/@item.HoverImgName" alt="owl-carousel-video-image">
                                    <div class="gen-movie-add">
                                       <div class="wpulike wpulike-heart">
                                          <div class="wp_ulike_general_class wp_ulike_is_not_liked"><button
                                                type="button" class="wp_ulike_btn wp_ulike_put_image"></button></div>
                                       </div>
                                       <ul class="menu bottomRight">
                                            <li>
                                                @if (User.Identity.IsAuthenticated)
                                                {
                                                    <a asp-route-id="@item.Id" asp-action="AddTvshows" asp-controller="TvshowPlaylist" class="facebook"><i class="fa fa-plus"></i></a>
                                                }
                                            </li>
                                       </ul>
                                       <div class="movie-actions--link_add-to-playlist dropdown">
                                          <div class="dropdown-menu mCustomScrollbar">
                                             <div class="mCustomScrollBox">
                                                <div class="mCSB_container">
                                                   <a class="login-link" href="register.html">Sign in to add this movie
                                                      to a
                                                      playlist.</a>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="gen-movie-action">
                                       <a asp-action="TvShowDetail" asp-controller="TvShow" asp-route-id="@item.Id" class="gen-button">
                                          <i class="fa fa-play"></i>
                                       </a>
                                    </div>
                                 </div>
                                 <div class="gen-info-contain">
                                    <div class="gen-movie-info">
                                       <h3><a asp-action="TvShowDetail" asp-controller="TvShow" asp-route-id="@item.Id">@item.TvShowName</a>
                                       </h3>
                                    </div>
                                    <div class="gen-movie-meta-holder">
                                       <ul>
                                          <li>@item.Seasons.Count Season</li>
                                          <li>
                                              @foreach (var category in item.Categories)
                                              {
                                                  <a asp-action="Index" asp-controller="Category" asp-route-id="@category.Id"><span>@category.CategoryName</span></a>
                                              }
                                          </li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- #post-## -->
                     </div>
                     }
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- owl-carousel Videos Section-2 End -->

   <!-- Slick Slider start -->
   <section class="gen-section-padding-2 pt-0 pb-0">
      <div class="container">
         <div class="home-singal-silder">
            <div class="gen-nav-movies gen-banner-movies">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="slider slider-for">
                        <!-- Slider Items -->
                        
                        <div class="slider-item" style="background: url('images/background/asset-4.jpeg')">
                           <div class="gen-slick-slider h-100">
                              <div class="gen-movie-contain h-100">
                                 <div class="container h-100">
                                    <div class="row align-items-center h-100">
                                       <div class="col-lg-6">
                                          <div class="gen-movie-info">
                                             <h3>thieve the bank</h3>
                                             <p>Streamlab is a long established fact that a reader will be distracted by
                                                the readable content of a page when Streamlab at its layout Streamlab.
                                             </p>

                                          </div>
                                          <div class="gen-movie-action">
                                             <div class="gen-btn-container button-1">
                                                <a class="gen-button" href="#" tabindex="0">
                                                   <i aria-hidden="true" class="ion ion-play"></i>
                                                   <span class="text">Play Now</span>
                                                </a>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="slider-item" style="background: url('images/background/asset-23.jpeg')">
                           <div class="gen-slick-slider h-100">
                              <div class="gen-movie-contain h-100">
                                 <div class="container h-100">
                                    <div class="row align-items-center h-100">
                                       <div class="col-lg-6">
                                          <div class="gen-movie-info">
                                             <h3>Love your life</h3>
                                             <p>Streamlab is a long established fact that a reader will be distracted by
                                                the readable content of a page when Streamlab at its layout Streamlab.
                                             </p>

                                          </div>
                                          <div class="gen-movie-action">
                                             <div class="gen-btn-container button-1">
                                                <a class="gen-button" href="#" tabindex="0">
                                                   <i aria-hidden="true" class="ion ion-play"></i>
                                                   <span class="text">Play Now</span>
                                                </a>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="slider-item" style="background: url('images/background/asset-24.jpeg')">
                           <div class="gen-slick-slider h-100">
                              <div class="gen-movie-contain h-100">
                                 <div class="container h-100">
                                    <div class="row align-items-center h-100">
                                       <div class="col-lg-6">
                                          <div class="gen-movie-info">
                                             <h3>The Last Witness</h3>
                                             <p>Streamlab is a long established fact that a reader will be distracted by
                                                the readable content of a page when Streamlab at its layout Streamlab.
                                             </p>

                                          </div>
                                          <div class="gen-movie-action">
                                             <div class="gen-btn-container button-1">
                                                <a class="gen-button" href="#" tabindex="0">
                                                   <i aria-hidden="true" class="ion ion-play"></i>
                                                   <span class="text">Play Now</span>
                                                </a>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="slider-item" style="background: url('images/background/asset-25.jpeg')">
                           <div class="gen-slick-slider h-100">
                              <div class="gen-movie-contain h-100">
                                 <div class="container h-100">
                                    <div class="row align-items-center h-100">
                                       <div class="col-lg-6">
                                          <div class="gen-movie-info">
                                             <h3>Fight For Life</h3>
                                             <p>Streamlab is a long established fact that a reader will be distracted by
                                                the readable content of a page when Streamlab at its layout Streamlab.
                                             </p>

                                          </div>
                                          <div class="gen-movie-action">
                                             <div class="gen-btn-container button-1">
                                                <a class="gen-button" href="#" tabindex="0">
                                                   <i aria-hidden="true" class="ion ion-play"></i>
                                                   <span class="text">Play Now</span>
                                                </a>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- Slider Items -->
                     </div>
                     <div class="slider slider-nav">
                        <div class="slider-nav-contain">
                           <div class="gen-nav-img">
                              <img src="~/images/background/asset-4.jpeg" alt="steamlab-image">
                           </div>
                           <div class="movie-info">
                              <h3>thieve the bank</h3>
                              <div class="gen-movie-meta-holder">
                                 <ul>
                                    <li>30mins</li>
                                    <li>
                                       <a href="action.html">
                                          Action </a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="slider-nav-contain">
                           <div class="gen-nav-img">
                              <img src="~/images/background/asset-23.jpeg" alt="streamlab-image">
                           </div>
                           <div class="movie-info">
                              <h3>Love your life</h3>
                              <div class="gen-movie-meta-holder">
                                 <ul>
                                    <li>1hr 46mins</li>
                                    <li>
                                       <a href="action.html">
                                          Action </a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="slider-nav-contain">
                           <div class="gen-nav-img">
                              <img src="~/images/background/asset-24.jpeg" alt="streamlab-image">
                           </div>
                           <div class="movie-info">
                              <h3>The Last Witness</h3>
                              <div class="gen-movie-meta-holder">
                                 <ul>
                                    <li>1hr 37 mins</li>
                                    <li>
                                       <a href="action.html">
                                          Action </a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="slider-nav-contain">
                           <div class="gen-nav-img">
                              <img src="~/images/background/asset-25.jpeg" alt="streamlab-image">
                           </div>
                           <div class="movie-info">
                              <h3>Fight For Life</h3>
                              <div class="gen-movie-meta-holder">
                                 <ul>
                                    <li>2hr 25 mins</li>
                                    <li>
                                       <a href="action.html">
                                          Action </a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- Slick Slider End -->

   <!-- owl-carousel Videos Section-3 Start -->
   <section class="gen-section-padding-2">
      <div class="container">
         <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
               <h4 class="gen-heading-title">New Tv Shows</h4>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 d-none d-md-inline-block">
               <div class="gen-movie-action">
                  <div class="gen-btn-container text-right">
                     <a asp-action="Index" asp-controller="TvShow" class="gen-button gen-button-flat">
                        <span class="text">More TvShows</span>
                     </a>
                  </div>
               </div>
            </div>
         </div>
         <div class="row mt-3">
            <div class="col-12">
               <div class="gen-style-2">
                  <div class="owl-carousel owl-loaded owl-drag" data-dots="false" data-nav="true" data-desk_num="4"
                     data-lap_num="3" data-tab_num="2" data-mob_num="1" data-mob_sm="1" data-autoplay="false"
                     data-loop="false" data-margin="30">
                     @foreach (var item in Model.TvShows.OrderBy(x=> x.Seasons.Select(s => s.Series.Select(v => v.Views).Sum()).Sum()).Take(10))
                     {
                            <div class="item">
                                <div class="movie type-movie status-publish has-post-thumbnail hentry movie_genre-action movie_genre-adventure movie_genre-drama">
                                    <div class="gen-carousel-movies-style-2 movie-grid style-2">
                                        <div class="gen-movie-contain">
                                            <div class="gen-movie-img">
                                                <img src="~/images/hoverImg/@item.HoverImgName" alt="owl-carousel-video-images">
                                                <div class="gen-movie-add">
                                                    <div class="wpulike wpulike-heart">
                                                        <div class="wp_ulike_general_class wp_ulike_is_not_liked">
                                                            <button type="button" class="wp_ulike_btn wp_ulike_put_image"></button>
                                                        </div>
                                                    </div>
                                                    <ul class="menu bottomRight">
                                                        <li class="share top">
                                                            <i class="fa fa-share-alt"></i>
                                                            <ul class="submenu">
                                                                <li>
                                                                    <a asp-route-id="@item.Id" asp-action="AddTvshow" asp-controller="TvshowPlaylist" class="facebook"><i class="fa fa-plus"></i></a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                    <div class="movie-actions--link_add-to-playlist dropdown">
                                                        
                                                    </div>
                                                </div>
                                                <div class="gen-movie-action">
                                                    <a asp-action="TvShowDetail" asp-controller="TvShow" asp-route-id="@item.Id" class="gen-button">
                                                        <i class="fa fa-play"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="gen-info-contain">
                                                <div class="gen-movie-info">
                                                    <h3><a asp-action="TvShowDetail" asp-controller="TvShow" asp-route-id="@item.Id">@item.TvShowName</a></h3>
                                                </div>
                                                <div class="gen-movie-meta-holder">
                                                    <ul>
                                                        <li>@item.Seasons.Count seasons</li>
                                                        <li>
                                                            @foreach (var category in item.Categories)
                                                            {
                                                                <a asp-action="Index" asp-controller="Category" asp-route-id="@category.Id"><span>@category.CategoryName</span></a>
                                                            }
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- #post-## -->
                            </div>
                        }

                     
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- owl-carousel Videos Section-3 End -->

   <!-- owl-carousel images Start -->
   <section class="pt-0 gen-section-padding-2 home-singal-silder">
      <div class="container">
         <div class="row">
            <div class="col-12">
               <div class="gen-banner-movies">
                  <div class="owl-carousel owl-loaded owl-drag" data-dots="true" data-nav="false" data-desk_num="1"
                     data-lap_num="1" data-tab_num="1" data-mob_num="1" data-mob_sm="1" data-autoplay="true"
                     data-loop="true" data-margin="30">
                     @foreach (var item in Model.TvShows.OrderBy(x => x.ReliseTime))
                     {
                         <div class="item" style="background: url('images/hoverImg/@item.HoverImgName')">
                            <div class="gen-movie-contain h-100">
                               <div class="container h-100">
                                  <div class="row align-items-center h-100">
                                     <div class="col-xl-6">
                                        <div class="gen-movie-info">
                                           <h3>@item.TvShowName</h3>
                                        </div>
                                        <div class="gen-movie-meta-holder">
                                           <ul>
                                              <li>@item.Seasons.Count Season</li>
                                              <li>@item.Seasons.Select(s => s.Series.Count).Sum() Episodes</li>
                                              <li>@item.ReliseTime.ToString("dd-MM-yyyy")</li>
                                              <li>
                                                  @foreach (var category in item.Categories)
                                                  {
                                                    <a asp-action="Index" asp-controller="Category" asp-route-id="@category.Id"><span>@category.CategoryName</span></a>
                                                  }
                                                 
                                              </li>
                                           </ul>
                                           <p>@item.Desc</p>
                                        </div>
                                        <div class="gen-movie-action">
                                           <div class="gen-btn-container">
                                              <a asp-action="TvShowDetail" asp-controller="TvShow" asp-route-id="@item.Id" class="gen-button gen-button-dark">
                                                 <span class="text">Play now</span>
                                              </a>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                     }
                     
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- owl-carousel images End -->

