@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model SearchVM

    <section class="gen-section-padding-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="gen-style-1">
                        <div class="row">
                        @if (Model.Movies == null && Model.TvShows == null )
                        {
                            <h1>There is no such movie or series</h1>
                        }
                        else
                        {
                            @foreach (var item in Model.TvShows)
                            {
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="gen-carousel-movies-style-1 movie-grid style-1">
                                        <div class="gen-movie-contain">
                                            <div class="gen-movie-img">
                                                <img src="~/images/hoverImg/@item.TvShowName" alt="streamlab-image">
                                                <div class="gen-movie-add">
                                                    <div class="wpulike wpulike-heart">
                                                        <div class="wp_ulike_general_class wp_ulike_is_not_liked">
                                                            <button type="button"
                                                            class="wp_ulike_btn wp_ulike_put_image"></button>
                                                        </div>
                                                    </div>
                                                    <ul class="menu bottomRight">
                                                        <li class="share top">
                                                            <i class="fa fa-share-alt"></i>
                                                            <ul class="submenu">
                                                                <li>
                                                                    <a href="#" class="facebook">
                                                                        <i class="fab fa-facebook-f"></i>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" class="facebook">
                                                                        <i class="fab fa-instagram"></i>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" class="facebook">
                                                                        <i class="fab fa-twitter"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                    <div class="movie-actions--link_add-to-playlist dropdown">
                                                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                                            <i class="fa fa-plus"></i>
                                                        </a>
                                                        <div class="dropdown-menu mCustomScrollbar">
                                                            <div class="mCustomScrollBox">
                                                                <div class="mCSB_container">
                                                                    <a class="login-link" href="#">
                                                                        Sign in to add this
                                                                        movie to a
                                                                        playlist.
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gen-movie-action">
                                                    <a asp-action="TvShowDetail" asp-controller="TvShow" asp-route-id="@item.Id" class="gen-button">
                                                        <i class="fa fa-play"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="gen-info-contain">
                                                <div class="gen-movie-info">
                                                    <h3><a href="single-tv-shows.html">@item.TvShowName</a></h3>
                                                </div>
                                                <div class="gen-movie-meta-holder">
                                                    <ul>
                                                        <li>@item.Seasons.Count Seasons</li>
                                                        <li>
                                                            @foreach (var category in item.Categories)
                                                            {
                                                                <a href="adventure.html"><span>@category.CategoryName</span></a>
                                                            }
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            
                        }
                            
                        </div>
                    </div>
                </div>
            <div class="col-lg-12">
                <div class="gen-style-1">
                    <div class="row">
                        @if (Model.Movies == null && Model.TvShows == null)
                        {
                            <h1>There is no such movie or series</h1>
                        }
                        else
                        {
                            @foreach (var item in Model.Movies)
                            {
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="gen-carousel-movies-style-1 movie-grid style-1">
                                        <div class="gen-movie-contain">
                                            <div class="gen-movie-img">
                                                <img src="~/images/hoverImg/@item.MovieImgName" alt="streamlab-image">
                                                <div class="gen-movie-add">
                                                    <div class="wpulike wpulike-heart">
                                                        <div class="wp_ulike_general_class wp_ulike_is_not_liked">
                                                            <button type="button"
                                                            class="wp_ulike_btn wp_ulike_put_image"></button>
                                                        </div>
                                                    </div>
                                                    <ul class="menu bottomRight">
                                                        <li class="share top">
                                                            <i class="fa fa-share-alt"></i>
                                                            <ul class="submenu">
                                                                <li>
                                                                    <a href="#" class="facebook">
                                                                        <i class="fab fa-facebook-f"></i>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" class="facebook">
                                                                        <i class="fab fa-instagram"></i>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" class="facebook">
                                                                        <i class="fab fa-twitter"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                    <div class="movie-actions--link_add-to-playlist dropdown">
                                                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                                            <i class="fa fa-plus"></i>
                                                        </a>
                                                        <div class="dropdown-menu mCustomScrollbar">
                                                            <div class="mCustomScrollBox">
                                                                <div class="mCSB_container">
                                                                    <a class="login-link" href="#">
                                                                        Sign in to add this
                                                                        movie to a
                                                                        playlist.
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gen-movie-action">
                                                    <a asp-action="MovieDetail" asp-controller="Movie" asp-route-id="@item.Id" class="gen-button">
                                                        <i class="fa fa-play"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="gen-info-contain">
                                                <div class="gen-movie-info">
                                                    <h3><a href="single-tv-shows.html">@item.MovieName</a></h3>
                                                </div>
                                                <div class="gen-movie-meta-holder">
                                                    <ul>
                                                        <li>@item.Duration</li>
                                                        <li>
                                                            @foreach (var category in item.MovieCategories)
                                                            {
                                                                <a href="adventure.html"><span>@category.Category.CategoryName</span></a>
                                                            }
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        }

                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>


<style>
    .gen-section-padding-3{
        margin-top:10%
</style>
